name: Release new version to Maven Central
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [main]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Build and test
        run: |
          mvn clean install -Dgpg.skip=true
  release-maven-central:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    needs: build-and-test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Import GPG signing key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.MAVEN_SIGNING_KEY }}
          passphrase: ${{ secrets.MAVEN_SIGNING_KEY_PASSPHRASE }}
      - name: Install JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
          server-id: maven-central-release
          server-username: MVN_CENTRAL_USERNAME
          server-password: MVN_CENTRAL_PASSWORD
      - name: Create settings.xml
        run: |
          mkdir -p ~/.m2
          cat > ~/.m2/settings.xml <<EOF
          <settings>
              <servers>
                  <server>
                      <id>ossrh</id>
                      <username>${{ secrets.MVN_CENTRAL_USERNAME }}</username>
                      <password>${{ secrets.MVN_CENTRAL_PASSWORD }}</password>
                  </server>
              </servers>
              <profiles>
                  <profile>
                      <id>gpg-signing</id>
                      <properties>
                          <gpg.keyname>${{ secrets.GPG_KEY_ID }}</gpg.keyname>
                          <gpg.passphrase>${{ secrets.MAVEN_SIGNING_KEY_PASSPHRASE }}</gpg.passphrase>
                      </properties>
                  </profile>
              </profiles>
              <activeProfiles>
                  <activeProfile>gpg-signing</activeProfile>
              </activeProfiles>
          </settings>
          EOF
      - name: Release to Maven repo
        run: |
          mvn -P gpg-signing -Dgpg.keyname=${{ secrets.GPG_KEY_NAME }} -Dgpg.passphrase=${{ secrets.MAVEN_SIGNING_KEY_PASSPHRASE }} deploy
        env:
          MVN_CENTRAL_USERNAME: ${{ secrets.MVN_CENTRAL_USERNAME }}
          MVN_CENTRAL_PASSWORD: ${{ secrets.MVN_CENTRAL_PASSWORD }}
